body {
    background: #f4f6f9;
    font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-image: url('../images/bg.svg');
}

.tracker-card{
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
}

.login-form {
    padding: 15px;
}

.tracker-card,
.login-form ,
.company{
    max-width: 600px;
    margin: 80px auto;
    border-radius: 20px;
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); */
    /* background:#caa9713d; */
}

.tracker-card img {
    width: 80%;
}

.tracker-card .intro {
    color: red;
    margin-bottom: 5px;
}

/* .tracker-card {} */

.btn-primary{
    background-color: rgb(53, 53, 167) !important;
}
.btn-lg {
    padding: 12px 20px;
    font-size: 1.2rem;
}

.audio-container {
    margin-top: 20px;
}

#statusMsg {
    font-weight: 500;
    margin-top: 10px;
    color: #198754;
}

#currentDay {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #555;
}

.audio-container audio {
    display: none;
}

.lyrics-panel {
    height: 200px;
    overflow: hidden;
    font-size: 20px;
}

.lyrics-panel .active{
    color: red;
}

.path-select {
    width: 100%;
}

.path-select .path{
    border-radius: 20px;
    margin: 10px;
}
